Thesis.log
Thesis.aux
Thesis-frn.log
Thesis-frn.pdf
Thesis-frn.tex
Appendix/appendix.aux
ExperimentalSetup/Setup.tex
ExperimentalSetup/Setup.log
ExperimentalSetup/Setup.aux
Conclusion/Conclusion.aux
Abstract/abstract.aux
Analysis/Analysis.aux
Analysis/Analysis.log
Transverse/Transv.aux
ExperimentalSetup/.xdp-.goutputstream-JMAB11-2zFM5x
ExperimentalSetup/.xdp-MottFig.png-0LZNSr
ExperimentalSetup/.xdp-Pagina 1.png-UHj1HA
ExperimentalSetup/.xdp-mott.png-4tNadH
ExperimentalSetup/.xdp-mott.png-NQLDRj
ExperimentalSetup/.xdp-mottFigura.pdf-uPqEht
ExperimentalSetup/.xdp-mott_figura.png-ebfGre
